/* html, body {
    margin: 0;
    padding: 0; 
  }*/
  
  .row {
    position: absolute;
    top: 120%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

   

.col{
    float:left;
    width:50%;
}
.row:after{
    content:"";
    display:table;
    clear:both;
    
}
.nav{
    float:left;
    
}
.nav li{
    display:inline-block;
    padding:30px 30px;
    text-decoration: none;
    text-transform: uppercase;
    animation-name:exp;
    animation-duration: 1s;
}
@keyframes exp{
    from{
        padding:0px;
    }
    to{
        padding:30px;
    }
}
.nav li a{
    text-decoration: none;
    text-align: center;
    color:#4e4949;
    font-weight: 400;
    font-size:19px;
    font-family: 'Quicksand',sans-serif;
}
.nav li:hover{
    border-bottom: 3px solid #1e3376;
    padding:10px 30px;
}
.logo{
    margin-left:50px;
    margin-top:25px;
    color:#fff;
    font-size:22;
    font-weight: 400;
}
.heading{
    color:#fff;
    font-size:100px;
    font-family:'Quicksand',sans-serif;
    font-weight: 600;
    
    
}
.sub-heading{
    color:#1e3376;
    font-size:40px;
    font-family:'Quicksand',sans-serif;
    font-weight: 300;
    
    
}
.hero{
    margin:100px 150px;
    
}
.btn-liquid{
    display:inline-block;
    position:relative;
    width:240px;
    height:60px;
    border-radius:27px;
    color:#fff;
    font:700 14px/60px "Droid Sans",sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top:30px;
    filter:drop-shadow(0px 2px 5px black);
    
}
.btn-liquid .inner{
    position:relative;
    z-index: 2;
}
.btn-liquid canvas{
    position:absolute;
    top:-50px;
    right:-50px;
    bottom:-50px;
    left:-50px;
    z-index:1;
}

.bg-bubbles {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}
.bg-bubbles li {
position: absolute;
list-style: none;
display: block;
width: 40px;
height: 40px;
background-color: rgba(255, 255, 255, 0.15);
bottom: -160px;
-webkit-animation: square 25s infinite;
animation: square 25s infinite;
-webkit-transition-timing-function: linear;
transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
left: 10%;
}
.bg-bubbles li:nth-child(2) {
left: 20%;
width: 80px;
height: 80px;
-webkit-animation-delay: 2s;
  animation-delay: 2s;
-webkit-animation-duration: 17s;
  animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
left: 25%;
-webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
left: 40%;
width: 60px;
height: 60px;
-webkit-animation-duration: 22s;
  animation-duration: 22s;
background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
left: 70%;
}
.bg-bubbles li:nth-child(6) {
left: 80%;
width: 120px;
height: 120px;
-webkit-animation-delay: 3s;
  animation-delay: 3s;
background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
left: 32%;
width: 160px;
height: 160px;
-webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
left: 55%;
width: 20px;
height: 20px;
-webkit-animation-delay: 15s;
  animation-delay: 15s;
-webkit-animation-duration: 40s;
  animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
left: 25%;
width: 10px;
height: 10px;
-webkit-animation-delay: 2s;
  animation-delay: 2s;
-webkit-animation-duration: 40s;
  animation-duration: 40s;
background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
left: 90%;
width: 160px;
height: 160px;
-webkit-animation-delay: 11s;
  animation-delay: 11s;
}
@-webkit-keyframes square {
0% {
-webkit-transform: translateY(0);
    transform: translateY(0);
}
100% {
-webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
}
}
@keyframes square {
0% {
-webkit-transform: translateY(0);
    transform: translateY(0);
}
100% {
-webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
}
}

