body,html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  background: url(bg.jpg) 50% 50%;
  background-size: cover;
  font-family: "Montserrat",sans-serif;
}
.container{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}
.container h1{
  text-transform: uppercase;
  font-size: 60px;
  margin: 0px;
  letter-spacing: 10px;
}
.container h2{
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

@font-face {
	font-family: digital7;
	src: url('digital7.ttf');
}

.count{
  margin: 40px 0;
  width: 80%;
  margin: 0 auto 0 auto;
  position: relative;
  vertical-align: top;
  font-family: digital7;
  font-size: 32px;
  -webkit-transition: background 0.6s linear;
  -moz-transition: background 0.6s linear;
  -ms-transition: background 0.6s linear;
  -o-transition: background 0.6s linear;
  transition: background 0.6s linear;
  text-align: center;
  font-size: 3.2rem;
  display: inline-block;
  
}
.countd{
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid;
  margin: 0 30px;
  font-size: 12px;
  border-radius: 50%;
  overflow: hidden;
  
}
.countd span{
  display: block;
  font-size: 26px;
  margin-top: 14px;
}

#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
 }
 
 .snowflake {
  padding-left: 15px;
  font-family: Cambria, Georgia, serif;
  font-size: 14px;
  line-height: 24px;
  position: fixed;
  color: whitesmoke;
  user-select: none;
  z-index: 1000;
 }


